p{
    color: rgb(155, 155, 155);
}

hr{
    color: grey;
}

.price{
    color:black;
}

.card-image{
    border-radius: 10px 10px 0px 0px;
}

.card-box{
    border-radius: 11px;
}

h4{
    font-size: 20px;
}

.Topbar{
    position: fixed; 
    padding-bottom: 10px; 
    padding-top: 20px;
    z-Index: 1; 
    background: #f2f2f2; 
    width: 100%; 
    top: 0;
}