.sidebar {
  height: 100vh;
  background: #bb3b3b;
}

.sidebar .link {
  padding: 15px 20%;
  color: #ffffff;
  border-radius: 15px;
}

.sidebar .alink {
  padding: 15px 20%;
  background-color: #d94d4d;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.sidebar .link:hover {
  background-color: #d94d4d;
  color: rgb(255, 255, 255);
}

svg{
  padding-right: 5px;
}

/* Optionally add more styles as needed */